<div *ngIf="city">
  <h1>{{city.name}}</h1>
  <fieldset>
    <legend>General</legend>
    <app-city-products [gameId]="gameId" [cityId]="city.id"></app-city-products>
  </fieldset>
  <fieldset>
    <legend>Details</legend>
    <app-city-details [gameId]="gameId" [cityId]="city.id"></app-city-details>
  </fieldset>
  <fieldset>
    <legend>Factories</legend>
    <app-city-factories [gameId]="gameId" [cityId]="city.id"></app-city-factories>
  </fieldset>
</div>

<fieldset>
<fieldset>
  <legend>Game- and Time-Dependent</legend>
  <ul>
    <li>capital or govenor's city?</li>
    <li>number of player's warehouses</li>
    <li>number of private/player's residential buildings</li>
    <li>actual warehouse retention settings</li>
    <li>other warehouse settings (buy goods, sell goods, ...
      )</li>
    <li>goods on the market</li>
    <li>goods in the warehouse</li>
  </ul>
</fieldset>
<fieldset>
  <legend>Control</legend>
  <ul>
    <li>place facility build order</li>
    <li>sync actual with suggested warehouse retention settings</li>
  </ul>
</fieldset>
<fieldset>
  <legend>Informative</legend>
  <ul>
    <li>suggested warehouse retention settings</li>
    <li>fleets serving this city</li>
    <li>facility build history</li>
  </ul>
</fieldset>

<p>
  <a routerLink="/games/{{gameId}}/cities">... back to cities</a><br>
  <a routerLink="/games/{{gameId}}">... back to game overview</a><br>
</p>
