<div *ngIf="game">
<h1>Kapitän {{ game.captainsName }}</h1>
<div>
  (begonnen {{ game.created | date: 'dd.MM.yyyy HH:mm'}})
</div>
<app-game-date [date]="game.gameDate" (onDateChanged)="updateGameDate($event)"></app-game-date>
<ul>
  <li><a routerLink="/games/{{gameId}}/cities">Cities ...</a></li>
  <li><a routerLink="/games/{{gameId}}/facilities">Gebäude ...</a></li>
  <li><a routerLink="/games/{{gameId}}/goods">Produkte ...</a></li>
  <li><a routerLink="/games/{{gameId}}/shiptypes">Schiffstypen ...</a></li>
  <li><a routerLink="/games/{{gameId}}/fleets">Flotten ...</a></li>
</ul>
</div>
<fieldset>
  <legend>Settings</legend>
  <app-game-settings [gameId]="gameId"></app-game-settings>
</fieldset>
<fieldset>
  <legend>Manage</legend>
  <a href="/api/games/{{gameId}}/save"><button>Export to file</button></a>
</fieldset>
<a routerLink="/games">... back to list of games</a>
