<form *ngIf="facilityForm" [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Facility:</label>
    <input formControlName="name">
  </div>
  <div>
    <label for="constructionCost">Construction Cost:</label>
    <input formControlName="constructionCost" type="number">
  </div>
  <div>
    <label for="constructionDays">Construction Days:</label>
    <input formControlName="constructionDays" type="number">
  </div>
  <div>
    <label for="maintenancePerDay">Maintenance per Day:</label>
    <input formControlName="maintenancePerDay" type="number">
  </div>
  <div>
    <label for="workers">Workers:</label>
    <input formControlName="workers" type="number">
  </div>
  <div formArrayName="consumptions">
    <fieldset style="width: 28em">
      <legend>Consumptions</legend>
      <div *ngFor="let consumption of consumptions.controls; let i=index" [formGroupName]="i">
        <fieldset style="width: 28em">
          <app-turnover-edit [goods]="goods" [turnover]="consumption"></app-turnover-edit>
        </fieldset>
      </div>
      <button (click)="addConsumption()" type="button">Add Consumption</button>
    </fieldset>
  </div>
  <div formGroupName="production">
    <fieldset style="width: 28em">
      <legend>Production</legend>
      <app-turnover-edit [goods]="goods" [turnover]="production"></app-turnover-edit>
    </fieldset>
  </div>
  <button type="submit">Update</button>
</form>

<p>
  <a routerLink="/games/{{gameId}}/facilities">... back to facilities</a><br>
  <a routerLink="/games/{{gameId}}">... back to game overview</a><br>
</p>
