<form *ngIf="facilityForm" [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Facility:</label>
    <input id="name" formControlName="name">
  </div>
  <div>
    <label for="constructionCost">Construction Cost:</label>
    <input id="constructionCost" formControlName="constructionCost" type="number">
  </div>
  <div>
    <label for="constructionDays">Construction Days:</label>
    <input id="constructionDays" formControlName="constructionDays" type="number">
  </div>
  <div>
    <label for="maintenancePerDay">Maintenance per Day:</label>
    <input id="maintenancePerDay" formControlName="maintenancePerDay" type="number">
  </div>
  <div>
    <label for="workers">Workers:</label>
    <input id="workers" formControlName="workers" type="number">
  </div>
  <div formGroupName="production">
    <fieldset style="width: 28em">
      <legend>Production</legend>
      <div>
        <label for="good">Good:</label>
        <select class="form-control" formControlName="good">
          <option *ngFor="let g of goods" [value]="g.name">{{g.name}}</option>
        </select>
      </div>
      <div>
        <label for="amount">Amount:</label>
        <input id="amount" formControlName="amount" type="number">
      </div>
    </fieldset>
  </div>
  <button type="submit">Update</button>
</form>

<p>
  <a routerLink="/games/{{gameId}}/facilities">... back to facilities</a><br>
  <a routerLink="/games/{{gameId}}">... back to game overview</a><br>
</p>
