<h2>Goods</h2>

<table>
  <thead>
    <tr>
      <th>Good</th>
      <th>Global Balance</th>
      <th>Global Consumption</th>
      <th>Competitor Factory Consumption</th>
      <th>Player Factory Consumption</th>
      <th>City Consumption</th>
      <th>Global Production</th>
      <th>Competitor Factory Production</th>
      <th>Player Factory Production</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let good of goods">
      <td>
        <a routerLink="/games/{{gameId}}/goods/{{good.id}}">{{ good.name }}</a>
      </td>
      <td *ngIf="goodBalances">{{ getGlobalBalance(good.name) | number:'.0' }}</td>
      <td *ngIf="goodBalances">{{ getGlobalConsumption(good.name) }}</td>
      <td *ngIf="goodBalances">{{ getRivalFactoryConsumption(good.name) }}</td>
      <td *ngIf="goodBalances">{{ getPlayerFactoryConsumption(good.name) }}</td>
      <td *ngIf="goodBalances">{{ getCityConsumption(good.name) }}</td>
      <td *ngIf="goodBalances">{{ getGlobalProduction(good.name) }}</td>
      <td *ngIf="goodBalances">{{ getRivalFactoryProduction(good.name) }}</td>
      <td *ngIf="goodBalances">{{ getPlayerFactoryProduction(good.name) }}</td>
    </tr>
  </tbody>
</table>

<button *ngIf="!expandAdd" (click)="expandAdd = true">Add Good...</button>
<app-good-add *ngIf="expandAdd" [gameId]="gameId" (onGoodAdded)="goodAdded($event)"></app-good-add>

<p><a routerLink="/games/{{gameId}}">... back to game overview</a></p>
